/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    /* Changed from 100% to 62.5% so I could use rem easier */
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Added - every element is a border-box - to include padding & border in total width & height*/
* {
    box-sizing: border-box;
}

/* Linking custom fonts */
/* Roboto Mono at Normal & Normal */
@font-face {
    font-family: 'roboto_mono';
    src: url('assets/Roboto_Mono/RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
/* Roboto Mono at Bold & Normal */
@font-face {
    font-family: 'roboto_mono';
    src: url('assets/Roboto_Mono/RobotoMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }  
/* Chelsea Market at Normal & Normal */
@font-face {
    font-family: 'chelsea_market';
    src: url('assets/Chelsea_Market/ChelseaMarket-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  } 


/* Added to create base size for page and base font */
html, body{
    height: 100%;
    font-family: 'roboto_mono', serif;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    background: #FFFFFF;
}

/* Added to give base font for h1 */
h1 {
    font-family: 'chelsea_market', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}

/* The rest of this CSS has not been changed from the original reset code */
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}